<div>
  <div>
    <h1>Students Information</h1>
  </div>
  <div class="table">
    <table>
      <tr>
        <th>name</th>
        <th>age</th>
      </tr>
      @for(std of students; track std.name){
      <tr>
        <td>{{std.name}}</td>
        <td>{{std.age}}</td>
      </tr>
      }
    </table>
  </div>
</div>

<!-- 1) -->
<!-- *ngFor="let std of Students" -->
<!-- {{std.name}}
{{std.age}} -->

<!-- 2) -->
<!-- 
@for (std of Students; track std.name){
<tr >
  <td>{{std.name}}</td>
  @if(+std.age<=25){
  <td>{{std.age}}</td>
  }
</tr>
} -->

<!-- if conidittion 49 in  -->