<div class="d-flex bg p-2">
    
    <div class="mx-3">
        <li> <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/">Home</a> </li>
    </div>
    <div class="mx-3">
        <li> <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/Students">Students</a> </li>
    </div >
    <div class="mx-3">
        <li> <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/Students/5">Student-Details</a> </li>
    </div>
    <div class="mx-3">
        <li> <a routerLinkActive="active" routerLink="/profile">Profile</a> </li>
    </div>
    <div class="mx-3">
        <li> <a routerLinkActive="active" routerLink="/anything">Error</a> </li>
    </div>
</div>
    
    
